---
layout: default
permalink: /archives.html
navbar: Archives
navbarindex: 80
---
<!-- default master head -->
{% include masthead.html %}

<!-- content -->
<div class="container">

  {% assign date_format = "%Y %m %d" %}

  <div id="archives">
    <div class="archive-group">
      {% for post in site.posts %}
        <article class="archive-item">
          <small>
          {% if post.date %}
              {{ post.date | date: date_format }}
          {% endif %}
          </small>
          <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
          <small>
          {% if post.issue_date %}
              Publication originale le {{ post.issue_date | date: date_format }}
          {% endif %}
          </small>
          
        </article>
      {% endfor %}
    </div>
  </div>
</div>
