---
layout: default
permalink: /tags.html
---
<!-- default master head -->
{% include masthead.html %}

<!-- content -->
<div class="container">

  <div id="archives">
  {% for tag in site.tags %}
    <div class="archive-group">
      {% capture tag_name %}{{ tag | first }}{% endcapture %}
      <div id="#{{ tag_name | slugize }}"></div>
      <h3><span class="badge badge-default">{{ tag_name }}</span></h3>
      
      {% for post in site.tags[tag_name] %}
        <article class="archive-item">
          <h5><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
        </article>
      {% endfor %}
    </div>
    <hr>
  {% endfor %}
  </div>

</div>
