<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  
  <title>{%- if page.title -%}{{ page.title | normalize_whitespace | escape }} - {{ site.title | normalize_whitespace | escape }}{% else %}{{ site.title | normalize_whitespace | escape }}{%- endif -%}</title>

  <meta name="title" content="{%- if page.title -%}{{ page.title | normalize_whitespace | escape }} - {{ site.title | normalize_whitespace | escape }}{% else %}{{ site.title | normalize_whitespace | escape }}{%- endif -%}">
  <meta name="description" content="{{ page.excerpt | default: page.subtitle | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="theme-color" content="{{ site.graphicaltheme.primarycolor }}">
  <meta name="google-site-verification" content="P5NQCjwZifGADL95d7YlXSQJ53tzGrudRyyTKnunod0" />
  
  <meta property="og:site_name" content="{{ site.title | normalize_whitespace | escape }}" >
  
  <!-- this is a post -->
  {% if page.date %}
    <meta property="og:type" content="article">
    <meta property="article:author" content="{{ site.author.name }}">
    {% if page.issue_date %}
      <meta property="article:published_time" content="{{ page.issue_date | date_to_xmlschema }}">
      <meta property="article:modified_time" content="{{ page.date | date_to_xmlschema }}">
    {% else %}
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}
  {%else%}
  <!-- this is a page -->
  <meta property="og:type" content="website">
  {% endif %}
  
  <meta property="og.local" content="{{ site.lang | default: en }}">
  <meta property="og:title" content="{%- if page.title -%}{{ page.title | normalize_whitespace | escape }} - {{ site.title | normalize_whitespace | escape }}{% else %}{{ site.title | normalize_whitespace | escape }}{%- endif -%}">
  <meta property="og:description" content="{{ page.excerpt | default: page.subtitle | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
  {% if page.masthead-img %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.masthead-img }}" />
  <meta property="og:image:secure_url" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.masthead-img }}" />
  {% else %}
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/defaultimg.jpg" />
  <meta property="og:image:secure_url" content="{{ site.url }}{{ site.baseurl }}/assets/img/defaultimg.jpg" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <!--link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"-->
  <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- CSS -->
  <!--link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tether.css"-->
  <!--link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css"-->
  <!--theter & bootstarp embedded and compressed into studiojekyll.css -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/studiojekyll.css">

  <!-- social icons and others -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <!-- webapp manifest -->
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>